{% extends 'base_users.html' %}

{% block content %}
    {{error}}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="" >
                {{field.label_tag}}
                <!-- <label for="{{field.label_tag}}">{{field.label_tag}}</label> -->
                {{field}}
            </div>
            <br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}

        {% endfor %}
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
    
{% endblock %}
