{% extends "base_block.html" %}

{% block title %}ListBlock search: {{searchname}}{% endblock %}

{% block content %}
    {{search}}
    {% for block in listBlock %}
        <div class="row">
            <div class="block">
                <div class="title"><a href="{% url 'blockapp:oneblock' block.id %}">{{block.title}}</a></div>
                <br>
                <div class="authname">Create by : {{block.authId}}</div>
                <div class="date">Date create : {{block.date}}</div>
            </div>
        </div>
        {% if block.isPrivate == 1 %}
            <div class="status">status : <span style="color: red">Private</span></div>
        {% else %}
            <div class="status">status : <span style="color: green">Public</span></div>
        {% endif %}
        <br />
    {% endfor %}
    <div class="pagination">
        {% for i in paginationAll.rangPage %}
            {% if i == paginationAll.curPage %}
                <strong><a href="?page={{i}}">{{i}}</a></strong>
            {% else %}
                <a href="?page={{i}}">{{i}}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% if login.isLogin %}
        <button><a href="{% url 'blockapp:createblockform' %}">ADD BLOCK</a></button>
    {% endif %}
{% endblock %}
